Package: com.efrederickson.reachapp
Name: ReachApp
Depends: mobilesubstrate, firmware (>= 8.0), applist
Conflicts: cc.tweak.statushud
Version: 0.0.3
Architecture: iphoneos-arm
Description: Split-screen multitasking in reachability view
Depiction: http://elijahandandrew.com/repo/depictions/ReachApp/index.html
Maintainer: Elijah Frederickson <elijah.frederickson@gmail.com>
Author: Elijah Frederickson <elijah.frederickson@gmail.com>
Section: Tweaks
