<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>DTXcode</key>
    <string>0701</string>
    <key>DTSDKName</key>
    <string>iphoneos9.0</string>
    <key>CFBundleName</key>
    <string>Multiplexer</string>
    <key>UILaunchStoryboardName</key>
    <string>Launch Screen</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
        </array>
      </dict>
    </dict>
    <key>DTSDKBuild</key>
    <string>13A340</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>BuildMachineOSBuild</key>
    <string>15A282b</string>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleLightContent</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>Multiplexer</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>CFBundleIdentifier</key>
    <string>com.andrewabosh.Multiplexer</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>DTXcodeBuild</key>
    <string>7A1001</string>
    <key>DTPlatformVersion</key>
    <string>9.0</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
        </array>
      </dict>
    </dict>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>MinimumOSVersion</key>
    <string>7.1</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>DTPlatformBuild</key>
    <string>13A340</string>
  </dict>
</plist>
